body {
   background-color: white;
   margin: 0 auto;
}
.header{
  margin-top: 50px;
}
.firstImg{
  width: 150px;

}
.secondImg{
  width: 150px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.logo{
  width: 900px;
  margin: 0 auto;
}
.header h1{
font-family: 'Cookie', cursive;
font-weight: 400;
font-size: 75px;
text-shadow: 1px 1px 2px black;
color: #663300;
width: auto;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
display: inline;
}
 .header p{
  font-family: 'Times', serif;
  font-size: 25px;
  color: #663300;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;


}
.mainImg{
  margin: 0 auto;
  width: 700px;
  margin-top: 75px;
}
.homeImg{
  width: 700px;

}


.location-head{
  width: 600px;
  margin: 0 auto;
}
.location-head img{
  width: 150px;


}
.left-fish{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.right-fish{

}
.location-head h3{
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 75px;
  text-shadow: 1px 1px 2px black;
  color: #663300;
  text-align: center;
  width: 250px;
  display: inline-block;

}
.location-section{
  text-align: center;
}
.location-section ul{
  list-style-type: none;
}
.location-section ul li:first-child{
font-weight: bold;
}

.merchandise-head{
  width: 700px;
  margin: 0 auto;
}
.merchandise-head img{
  width: 150px;


}
.merchandise-head h3{
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 75px;
  text-shadow: 1px 1px 2px black;
  color: #663300;
  text-align: center;
  width: 200px;
  display: inline-block;
}

.merch-main-img{
  margin: 0 auto;
  width: 700px;
  border: 1px solid red;
}
.merch-img{
  width: 700px;

}
/*.locationList{
  list-style-type: none;
  margin-top: 25px;
  font-family: 'Times', serif;
  font-size: 30px;
  color:#ff531a;
  text-align: center;
  border: 1px solid red;

}
.locationSubList{
  list-style-type: none;
  color:black;
  font-family: 'Times', serif;
  font-size: 20px;
  color:#ff531a;
  text-align: center;
  border: 1px solid red;
  display: inline-block;
}*/
